<div>
    <h1>
        {{ title }}
    </h1>
</div>

<div class="container">
    <ul>
        <li *ngFor="let characterRow of characterRows">
            <div class="row">
                <div class="col">
                    <div class="img-wrapper">
                        <img src="{{characterRow.image}}" alt="{{characterRow.character}}">
                    </div>
                </div>
                <div class="col">
                    <p class="character-name">{{ characterRow.character }}</p>
                    <p class="character-quote">"{{ characterRow.quote }}"</p>
                </div>
            </div>
        </li>
    </ul>
</div>