* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;

    li {
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    align-items: center;
}

.ordinal-number {
    margin: 0;
    padding: 0 10px;
}

.img-wrapper {
    display: flex;
    padding-right: 10px;
    max-height: 320px;
    max-width: 320px;

    img {
        margin-left: auto;
        margin-right: auto;
        width:320px;
        object-fit: contain;
    }
}

.character-info-wrapper {
    padding-left: 5px;

    .character-character {
        padding-right: 10px;
        color: #C62B3F;
        font-weight: 900;
    }
}

@media (max-width: 600px) {
    .character-character,
    .character-quote {
        text-align: center;
    }

    .col {
        max-width: 100vw;
        max-height: 100vh;
        flex-grow: 1;
    }
}