<div>
    <h1>
        {{ title }}
    </h1>
</div>

<div class="container">
    <ul>
        <li *ngFor="let characterRow of characterRows; let i = index" (click)="showModal(characterRow)">
            <div class="row">
                <div class="col-sm-12 col-md-1">
                    <h2 class="ordinal-number sm-text-left md-text-right">
                        {{ i+1 }}.
                    </h2>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="img-wrapper">
                        <img src="{{characterRow.image}}" alt="{{characterRow.character}}">
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="character-info-wrapper">
                        <p class="character-character">{{ characterRow.character }}</p>
                        <p class="character-quote">"{{ characterRow.quote }}"</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>