$img-dimension-small: 260px;
$img-dimension-normal: 320px;
$kreuzwerker-red: #C62B3F;

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

ul {
    li {
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    align-items: center;
}

.ordinal-number {
    margin: 0;
    padding: 0 10px;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        max-height: $img-dimension-normal;
        max-width: $img-dimension-normal;
    }
}

.character-info-wrapper {
    .character-character {
        color: $kreuzwerker-red;
        font-weight: 900;
    }
}

@media (max-width: 600px) {
    .character-character,
    .character-quote {
        text-align: center;
    }

    .col {
        max-width: 100vw;
        max-height: 100vh;
        flex-grow: 1;
    }
    .img-wrapper {
        img {
            max-height: $img-dimension-small;
            max-width: $img-dimension-small;
        }
    }
}