<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ characterName }}</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul>
        <p *ngIf="shouldLengthErrorBeVisible" class="p-3 alert-danger">
            Sorry, instead of 5 quotes,
            we were able to find only {{characterQuotes.length}} quote{{characterQuotes.length > 1 ? 's': ''}} by {{ characterName }}.
        </p>
        <li *ngFor="let quote of characterQuotes; let i = index">
            <div class="row">
                <div class="col-1">
                    <div class="ordinal-number sm-text-left md-text-right h3">
                        {{ i+1 }}.
                    </div>
                </div>
                <div class="col h3">
                    {{ quote }}
                </div>
            </div>
        </li>
    </ul>
</div>